@use "../config/mixin"as *;

/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 1.6%;
  right: 50%;
  /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;

  /* 矢印の描写 */
  &:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 1vh;
    right: -7px;
    /*横矢印の形状*/
    width: 3px;
    height: 20px;
    background: #fff;
    transform: skewX(-31deg);
    @include mq("sp") {
        display: none;
    }
  }
  &:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 1vh;
    right: -1px;
    /*縦矢印の形状*/
    width: 3px;
    height: 65px;
    background: #fff;
    @include mq("sp") {
        display: none;
    }
  }
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}

/*Scrollテキストの描写*/
.scrolldown span {
  /*描画位置*/
  position: absolute;
  transform: translateX(-50%);
  bottom: 11vh;
  /*テキストの形状*/
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.4px;
  font: normal normal normal 14px/18px Archivo Narrow;
  @include mq("sp") {
    display: none;
  }
}
