@use "../config/mixin" as *;

.slider {
  img {
    margin: 12px 12px 0;
    width: 300px;
    height: 250px;
    object-fit: cover;
    display: inline-block;
    border-radius: 20px;

    @include mq("sp") {
      width: 250px !important;
      height: 209px;
      margin: 15px 11px;
    }
  }
}

// BEM naming variant for work section
.work__slider {
  img {
    margin: 12px 12px 0;
    width: 300px;
    height: 250px;
    object-fit: cover;
    display: inline-block;
    border-radius: 20px;

    @include mq("sp") {
      width: 250px !important;
      height: 209px;
      margin: 15px 11px;
    }
  }
}