@use "../config/color" as *;
@use "../config/mixin" as *;

.contact {
  padding: 59px 24px 112px;

  @include mq("sp") {
    padding: 27px 15px 61px;
  }

  &__container {
    max-width: 960px;
    width: 100%;
    padding: 49px 13px;
    background-color: $y;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 50px;
    color: #fff;
    margin: 0 auto;

    @include mq("sp") {
      padding: 49px 13px 25px;
    }
  }

  &__title {
    margin-bottom: 29px;

    @include mq("sp") {
      margin-bottom: 13px;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 0;
    text-align: center;

    @include mq("tb") {
      font-size: 34px;
    }

    @include mq("sp") {
      font-size: 30px;
      line-height: 3.2rem;
    }

    &::after {
      display: none;
    }
  }

  &__description {
    margin-bottom: 35px;

    @include mq("sp") {
      margin-bottom: 17px;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.7;

    @include mq("tb") {
      font-size: 1.4rem;
    }

    @include mq("sp") {
      font-size: 1.8rem;
      line-height: 1.5;

      .sp {
        display: inline;
      }
    }
  }

  &__btn-wrapper {
    text-align: center;
    margin: 0px auto 37px;

    @include mq("sp") {
      margin: 13px auto;
    }
  }

  &__btn {
    display: inline-block;
    width: 301px;
    height: 70px;
    border: 2px solid $g;
    border-radius: 50px;
    background-color: #fff;
    color: $g;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.6;
    text-align: center;
    padding: 16px;
    letter-spacing: 0.08em;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color .2s cubic-bezier(0.45, 0, 0.55, 1);

    @include mq("tb") {
      padding: 18px;
    }

    @include mq("sp") {
      padding: 16px;
      max-width: 301px;
      width: 100%;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #fff;

        &::after {
          transform: scale(1, 1);
        }
      }

    }

    &::after {
      background: #93c572;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
      z-index: -1;
    }
  }

  &__info {
    line-height: 34px;

    @include mq("sp") {
      .sp {
        display: inline;
      }
    }
  }

  &__info-item {
    text-align: center;
    font-size: 2rem;

    @include mq("tb") {
      font-size: 16px;
    }

    @include mq("sp") {
      font-size: 20px;
    }
  }

  &__phone {
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
    transition: opacity .3s;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }

    @include mq("sp") {
      display: block;
      margin-bottom: 12px;
      font-size: 3rem;
      text-align: center;
    }
  }
}