@use "../config/mixin" as *;
@use "../config/color" as *;

.footer {
  margin-top: 113px;
  padding: 65px 0 0;
  background-color: #fff;

  @include mq("sp") {
    margin-top: 60px;
    padding: 14px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr;
    gap: 15px 0px;
    grid-template-areas:
      "footer-logo footer-ul"
      "footer-info sns";

    @include mq("tb") {
      grid-template-columns: 0.5fr 1fr;
    }

    @include mq("sp") {
      display: block;
    }

    .footer-logo {
      grid-area: footer-logo;
      justify-self: center;
      margin: 14px 4.7rem 0 0;

      @include mq("tb") {
        justify-self: center;
      }

      @include mq("sp") {
        text-align: left;
        margin: 16px 0 21px;
      }

      img {
        width: 202px;

        @include mq("tb") {
          width: 190px;
        }

        @include mq("sp") {
          width: 202px;
        }
      }
    }

    .footer-info {
      grid-area: footer-info;
      justify-self: center;
      margin-left: -4vw;

      @include mq("tb") {
        justify-content: center;
      }
      @include mq("sp") {
        margin: 0;
      }

      .text {
        margin: 20px -6px -2px 0;
        line-height: 1.7rem;
        letter-spacing: 0.8px;

        @include mq("sp") {
          margin: 21px 0;
        }
      }
    }

    .footer-nav {
      justify-self: left;
      margin-left: -6.7vw;
      @include mq("sp") {
        margin: 0;
      }

      .footer-ul {
        display: grid;
        grid-template-columns: 0.6fr 1.3fr 0.8fr 1.4fr 0.8fr 0.8fr;
        grid-template-rows: 1fr;
        gap: 0px 12px;
        grid-template-areas: "text16 text16 text16 text16";
        grid-area: footer-ul;

        @include mq("tb") {
          grid-template-columns: 0.6fr 1.4fr 0.8fr 1.4fr 0.8fr 0.8fr;
          gap: 0px 0.7vw;
        }

        @include mq("sp") {
          display: flex;
          flex-direction: column;
        }

        .text16 {
          letter-spacing: 0.8px;
          a {
            @media (any-hover: hover) {
              &:hover {
                color: $g;
              }
            }
          }

          @include mq("tb") {
            font-size: 2vw;
          }

          @include mq("sp") {
            font-size: 16px;
            text-align: left;
          }

          &:nth-child(1) {
            margin: 13px 0;
            @include mq("sp") {
              margin: 0;
              order: 1;
            }
          }

          &:nth-child(2) {
            margin: 13px 0;
            @include mq("sp") {
              margin: 11px 0 0;
              order: 2;
            }
          }

          &:nth-child(3) {
            margin: 13px 0 0 5px;
            @include mq("tb") {
              margin: 13px 0;
            }
            @include mq("sp") {
              margin: 11px 0 0;
              order: 3;
            }
          }

          &:nth-child(4) {
            margin: 13px 0 0 6px;
            @include mq("sp") {
              margin: 10px 0 0;
              order: 4;
            }
          }

          &:nth-child(5) {
            margin: 13px 0;
            @include mq("sp") {
              margin: 11px 0;
              order: 6;
            }
          }

          &:nth-child(6) {
            margin: 13px 0;
            @include mq("sp") {
              margin: 11px 0 0;
              order: 5;
            }
          }
        }
      }
    }

    .sns {
      display: grid;
      grid-template-columns: 0fr 0fr 0fr;
      grid-template-rows: 1fr;
      gap: 0px 18px;
      grid-template-areas: "sns-img sns-img sns-img";
      align-self: end;
      justify-content: end;
      grid-area: sns;
      width: 28vw;
      max-width: 200px;
      transform: translateX(140%);
      @include mq("sp") {
        width: auto;
        max-width: none;
        transform: translateX(0%);
        margin: 17px 2px 0;
      }
      .sns-img {
        justify-self: center;
        width: 50px;
        height: 50px;
        padding: 13px 12px 12px 13px;
        border-radius: 100px;
        box-shadow: 0px 3px 6px #00000029;

        @include mq("tb") {
          margin-right: 10px;
        }

        @include mq("sp") {
          margin: 0;
        }
      }
    }
  }

  .copy {
    font: normal normal medium Archivo Narrow;
    font-size: 12px;
    line-height: 1rem;
    padding: 27px;
    letter-spacing: 0.6px;
    text-align: center;
    @include mq("sp") {
      padding: 40px 0 0;
    }
  }
}