@use "../config/mixin" as *;
@use "../config/color" as *;
@use "../object/arrow" as a;

.header {
  margin: 20px 37px;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 3px 6px #00000029;
  width: calc(100% - 74px);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  @include mq("sp") {
    height: 50px;
    margin: 0;
    width: 100%;
    border-radius: 0;
    z-index: 10;
  }

  .title-logo {
    img {
      margin: 30.5px 0 30.5px 40px;

      @include mq("tb") {
        width: 130px;
        margin: 1.2vw;
      }

      @include mq("sp") {
        width: 116px;
        margin: 15px auto 15px 10px;
      }
    }
  }
}

.nav_menu_ul {
  display: flex;
  margin-right: -18px;

  @include mq("sp") {
    flex-direction: column;
    padding: 20px 0 32px;
    background-color: $bg;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 3px 6px #00000029;
  }

  .nav_menu_li {
    margin: 38px 20px 36px 0;
    line-height: 0.75rem;
    letter-spacing: 0.05rem;
    color: #3b4043;

    @include mq("tb") {
      margin: 30px 0.08rem 36px;
    }

    a {
      font-size: 16px;

      @media (any-hover: hover) {
        &:hover {
          color: $g;
        }
      }

      @include mq("tb") {
        font-size: 1.5vw;
      }

      @include mq("sp") {
        font-size: 16px;
        line-height: 1rem;
      }

      &.nav-contact {
        @media (any-hover: hover) {
          &:hover {
            color: #555;
          }
        }
      }
    }

    span.sp {
      display: none;
    }

    @include mq("sp") {
      margin: 0 10px 20px 14px;
      font-size: 16px;
      text-align: left;
      padding-bottom: 17px;
      border-bottom: 1px solid $g;
      position: relative;

      :first-child {
        &::after {
          content: "";
          width: 25.33px;
          height: 8px;
          border-bottom: solid 2px $g;
          border-right: solid 2px $g;
          transform: skew(35deg);
          position: absolute;
          right: 12px;
          top: 6px;
        }
      }

      span.sp {
        display: inline;
        color: $y;
        margin-left: 10px;
        font: normal normal normal 12px/16px Archivo Narrow;
      }

      &:nth-child(n+2) {
        order: 2;
        padding-bottom: 17px;

        & ::after {
          content: "";
          width: 25.33px;
          height: 8px;
          border-bottom: solid 2px $g;
          border-right: solid 2px $g;
          transform: skew(35deg);
          position: absolute;
          right: 8px;
          top: 4px;
        }
      }

      &:nth-child(3) {
        order: 4;
      }

      &:nth-child(4) {
        order: 3;
      }

      &:nth-child(5) {
        order: 5;
      }

      &:nth-child(6) {
        order: 6;
        margin-bottom: 14px;
      }

      &:nth-child(n+7) {
        & ::after {
          display: none;
        }
      }

      &:nth-child(8) {
        order: 7;
        border-bottom: 0;
        text-align: center;
        display: grid;
        margin-bottom: 5px;

        .sp {
          display: inline;
          color: $g;

          &:nth-child(1) {
            font-size: 14px;
            line-height: 1.5rem;
            letter-spacing: 0px;
            text-align: center;
          }

          &:nth-child(2) {
            font-size: 20px;
            line-height: 2.1rem;
            letter-spacing: 0px;
            margin: -9px auto -1px;
          }

          &:nth-child(3) {
            font-size: 14px;
            line-height: 1.3rem;
            margin: 8px 2px 0 0;
            text-align: center;
            letter-spacing: 0px;
          }
        }
      }
    }

    &:nth-child(1) {
      display: none;
      order: 1;

      @include mq("sp") {
        display: inline;
        width: calc(100% - 20px);
        padding-bottom: 20px;

        span.sp {
          color: $y;
          font: normal normal normal 12px/16px Archivo Narrow;
        }
      }
    }

    &:nth-child(7) {
      margin: 21px 28px 21px 0;
      padding: 10px 0;
      color: #fff;
      background-color: $y;
      width: 148px;
      border-radius: 24px;
      height: 48px;
      line-height: 30px;
      letter-spacing: 0rem;
      text-align: center;

      @include mq("tb") {
        font-size: 9px;
        margin: 18px 26px 21px 0.1vw;
        height: 40px;
        padding: 4px;
        width: 13vw;
      }

      @include mq("sp") {
        order: 8;
        font-size: 16px;
        margin: 0 auto;
        width: 300px;
        height: 48px;
        border-bottom: none;
        padding: 9px;
        letter-spacing: 0px;

        & a {
          display: block;
          text-align: center;
          line-height: 1.9rem;
        }
      }
    }
  }
}