@use "../config/mixin" as *;
@use "../config/color" as *;
@use "../object/arrow" as a;

.header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
  padding: 0 37px;

  @include mq("sp") {
    top: 0;
    padding: 0;
  }

  &__container {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(10px, calc(100vw - 1025px)/2, 28px) 0 clamp(10px, calc(100vw - 1025px)/2, 40px);
    position: relative;
    z-index: 9999;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);

    @include mq("sp") {
      height: 50px;
      border-radius: 0px;
    }
  }

  &__logo {
    width: 168px;
    height: 29px;
    flex-shrink: 0;
    transition: all .3s ease;

    @media (any-hover: hover) {
      &:hover {
        opacity: .7;
      }
    }

    @include mq("sp") {
      width: 116px;
      height: 20px;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: clamp(8px, calc(100vw - 1025px) / 2, 20px);

    @include mq("sp") {
      flex-direction: column;
      padding: 6px 14px 32px;
      background-color: $bg;
      height: 100%;
      width: 100%;
    }
  }

  &__nav-item {
    font-weight: 600;
    font-size: clamp(1.2rem, calc(100vw - 858px) / 2, 1.6rem);
    line-height: 1;
    letter-spacing: 0.05em;
    color: #3b4043;
    transition: all .3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: $g;
      }
    }

    @include mq("sp") {
      font-size: 1.6rem;
      border-bottom: 1px solid $g;
      position: relative;
      width: 100%;

      &::after {
        content: "";
        width: 25.33px;
        height: 8px;
        border-bottom: solid 2px $g;
        border-right: solid 2px $g;
        transform: translateY(-50%) skew(35deg);
        position: absolute;
        right: 4px;
        top: 50%;
      }
    }

    &:first-child {
      display: none;

      @include mq("sp") {
        display: inline;
        order: 0;
      }
    }

    &:nth-child(2) {
      @include mq("sp") {
        order: 1;
      }
    }

    &:nth-child(3) {
      @include mq("sp") {
        order: 3;
      }
    }

    &:nth-child(4) {
      @include mq("sp") {
        order: 2;
      }
    }

    &:nth-child(5) {
      @include mq("sp") {
        order: 4;
      }
    }

    &:nth-child(6) {
      @include mq("sp") {
        order: 5;
      }
    }

    &--contact {
      padding: 0;

      @include mq("sp") {
        order: 7;
        border: none;
        padding: 0 24px;

        &::after {
          display: none;
        }
      }

      a {
        color: #fff;
        background-color: $y;
        border-radius: 24px;
        line-height: 1.875;
        text-align: center;
        justify-content: center;
        padding: 9px 23.6px;
        transition: all .3s ease;

        @media (any-hover: hover) {
          &:hover {
            background-color: #fff;
            outline: 1px solid $y;
            color: $y;
          }
        }
      }
    }

    &:last-child {
      display: none;

      @include mq("sp") {
        display: inline;
        order: 6;
        border: none;
        color: #93C572;
        padding: 7px;

        &::after {
          display: none;
        }

        .sp {
          display: block;
          text-align: center;
          font-size: 1.4rem;
          margin-bottom: 5px;

          &:last-child {
            line-height: 1.2;
            margin-bottom: 10px;
          }
        }

        .header__nav-item-tel {
          font-size: 2rem;
          margin-bottom: 17px;
        }
      }
    }

    span.sp {
      display: none;
      text-transform: uppercase;
      color: $y;
      font-family: "Archivo Narrow", sans-serif;
      font-weight: 400;
      font-size: 1.2rem;

      @include mq("sp") {
        display: inline;
      }
    }

    a {
      display: flex;
      gap: 10px;

      @include mq("sp") {
        padding: 14px 0 18px;
      }
    }

  }
}