@use "../config/mixin" as *;
@use "../config/color" as *;

.firstview {
  margin: 0 auto;
  width: 100%;
  background-image: url(../images/FV.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include mq("sp") {
    height: 600px;
  }

  &__main-box {
    padding-top: 270px;

    @include mq("sp") {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 21px;
      padding: 294px 11px 0;
    }
  }

  &__main-img {
    max-width: 203px;
    width: 100%;
    height: auto;
    margin: 0 auto 14px;

    @include mq("sp") {
      max-width: 72.56px;
      margin: 0;
      transform: translateX(17px);
    }
  }

  &__title {
    font-weight: 600;
    font-size: 5rem;
    color: #87b16c;
    letter-spacing: 0.15em;
    text-shadow: 0 3px 3px #0000004d;
    text-align: center;

    @include mq("tb") {
      font-size: clamp(3.85rem, calc(94vw - 768px) / 2, 5rem);
    }

    @include mq("sp") {
      color: $g;
      font-size: clamp(1.9rem, (114vw - 375px) / 2, 2.5rem);
      line-height: 1.48;
      text-shadow: none;

      .sp {
        display: inline;
      }
    }
  }

  &__container {
    height: 100%;
    position: relative;
  }

  &__news-card {

    &-link {
      position: absolute;
      background-color: $y;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 20px;
      height: 109px;
      width: 337px;
      right: clamp(10px, calc(100vw - 1025px) / 2, 45px);
      bottom: 48px;
      color: #fff;
      padding: 19px 15px;
      transform: translateX(0);
      opacity: 1;
      transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s;
      display: block;

      @include mq("sp") {
        width: 142px;
        height: 76px;
        border-radius: 10px;
        padding: 12px 7px 12px 10px;
        right: auto;
        bottom: 20px;
        left: 19px;
      }

      &.slide-out {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;

        @include mq("sp") {
          transform: translateX(100%);
        }
      }

      &.slide-in {
        transform: translateX(0);
        visibility: visible;

        @media (any-hover: hover) {
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    &-text {
      @include mq("sp") {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 6px;
      }
    }

    &-label {
      font-family: "Archivo Narrow", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      line-height: 1;
      letter-spacing: 0.05em;
      margin-bottom: 14px;

      @include mq("tb") {
        font-size: 1.6rem;
      }

      @include mq("sp") {
        font-size: 1.4rem;
        margin: 0;
      }
    }

    &-date {
      font-family: "Archivo Narrow", sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1;
      letter-spacing: 0.05em;
      display: inline-block;
      margin-bottom: 4px;

      @include mq("sp") {
        font-size: 1rem;
        margin: 0;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.5;
      letter-spacing: 0.05em;

      @include mq("sp") {
        font-size: 1.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-word;
      }
    }
  }

  &__scrolldown {
    margin-top: auto;
    padding-bottom: 20px;
    text-align: center;

    span {
      font-size: 1.2rem;
      letter-spacing: 0.1em;
    }
  }
}