@use "../config/mixin" as *;

* {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic",
    Verdana, Meiryo, sans-serif;
  text-align: left;

  &:focus {
    outline: 2px solid #93c572;
    outline-offset: 2px;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #f9f9f9;
  color: #555;
  overflow-x: hidden;
}

[id] {
  scroll-margin-top: 110px;
  /* 80px (headertop) + 100px (余白) */
}

.sp {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading {
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 10;

  @include mq("tb") {
    font-size: 3.6rem;
  }

  @include mq("sp") {
    font-size: 3rem;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: -1;
    background-image: url(../images/title-line.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 172px;
    width: 100%;
    height: initial;
    aspect-ratio: 172 / 15;

    @include mq("sp") {
      max-width: 127px;
    }
  }
}

.category {
  font-weight: 400;
  line-height: 1.7;
  border-radius: 5px;
  padding: 6px 21px;
  color: #fff;
  font-size: 1.4rem;
  margin: 23px;
}