* {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic",
    Verdana, Meiryo, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f9f9f9;
  color: #555;
  overflow-x: hidden;
}
.sp {
  display: none;
}
.text14 {
  font-size: 14px;
}
.text {
  font-weight: 400;
}
.text18 {
  font-size: 18px;
  font: normal normal medium YuGothic;
}
.text20 {
  font-size: 20px;
}
.text30 {
  font-size: 30px;
}
.text40 {
  font-size: 40px;
  line-height: 68px;
  letter-spacing: 0.1em;
}
.category {
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  padding: 6px 21px;
  color: #fff;
  font-size: 14px;
  margin: 23px;
}
.fixed-background {
  overflow: hidden; /* スクロールバーを非表示にする */
  position: fixed; /* 背景を固定 */
  width: 100%; /* 幅を100%に設定 */
  height: 100%; /* 高さを100%に設定 */
}
