@use "../config/color" as *;
@use "../config/mixin" as *;

.p-archive {
  padding: 140px 0;

  @include mq("sp") {
    padding: 65px 0 53px;
  }

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

    @include mq("sp") {
      padding: 0 15px;
    }
  }

  /* ========== ヘッダーセクション ========== */
  &__header {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin-bottom: 48px;

    @include mq("sp") {
      gap: 37px;
      margin-bottom: 24px;
    }
  }

  &__breadcrumb {

    /* パンくずリスト */
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;

      li {
        display: inline;
        position: relative;
        font-size: 1.4rem;
        line-height: 1.7;
        font-weight: 400;

        a {

          &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-top: solid 1px $g;
            border-right: solid 1px $g;
            transform: rotate(45deg);
            position: absolute;
            right: -15px;
            top: 8px;
          }
        }
      }
    }
  }


  &__heading {
    &::after {
      max-width: 260px;
      aspect-ratio: 260/22;

      @include mq("sp") {
        max-width: 195px;
      }
    }
  }

  /* ========== カテゴリータブナビゲーション ========== */
  &__tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;

    @include mq("sp") {
      overflow: scroll;
      justify-content: flex-start;
      margin-bottom: 23px;
    }
  }

  &__tab {
    @include mq("sp") {
      min-width: 126px;
    }

    a {
      text-align: center;
      color: $y;
      font-size: 1.6rem;
      background-color: #fff;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50px;
      display: block;
      min-width: 126px;
      height: 44px;
      padding: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    &--active {
      a {
        color: #fff;
        background-color: $g;
      }
    }

    // activeでないタブのaタグにホバー効果
    @media (any-hover: hover) {
      &:not(&--active) a:hover {
        background-color: $g;
        color: #fff;
        transform: translateY(3px);
        box-shadow: none;
      }
    }
  }

  /* ========== コンテンツエリア ========== */
  &__content {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 10px #00000029;
    border-radius: 100px;
    margin: 0 auto;
    width: 100%;
    padding: 80px 50px;

    @include mq("sp") {
      border-radius: 50px;
      padding: 47px 20px 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include mq("sp") {
      gap: 30px;
    }
  }

  &__post-link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 37px;
    transition: all 0.3s ease;
    position: relative;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }


  &__post-body {

    @include mq("sp") {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0 0 20px 20px;
      background-color: #fff;
      background: rgb(255 255 255 / 60%);
      padding: 5px 11px 9px;
    }
  }

  &__post-meta {
    display: flex;
    gap: 29px;
    margin-bottom: 7px;
  }

  &__post-date {
    font-family: "Archivo Narrow", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.05em;

    @include mq("sp") {
      font-size: 1.2rem;
    }
  }

  &__post-category {
    background-color: $g;
    display: inline-block;
    padding: 5.5px 20px;
    border-radius: 4px;
    font-size: 1.4rem;
    color: #fff;

    &.sp {
      display: none;
    }

    @include mq("sp") {
      position: absolute;
      right: 12px;
      top: 10px;

      &.pc {
        display: none;
      }

      &.sp {
        display: inline-block;
      }
    }
  }

  &__post-title {
    font-size: 2rem;
    margin-bottom: 13px;

    @include mq("sp") {
      font-size: 1.4rem;
      line-height: 1.3;
      margin-bottom: 0;
    }
  }

  &__post-excerpt {
    p {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7;

      @include mq("sp") {
        display: none;
      }
    }
  }

  &__post-figure {
    display: block;
    flex-shrink: 0;
    max-width: 230px;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 6px #00000029;

    @include mq("sp") {
      max-width: none;
      height: auto;
      aspect-ratio: 305 / 199;
    }
  }

  &__no-posts {
    text-align: center;
    padding: 40px 20px;
    font-size: 1.6rem;
    color: #707070;
  }

  /* ========== ページネーション ========== */
  &__pagination {
    position: relative;
    text-align: center;
    padding: 40px 0;

    @include mq("sp") {
      padding: 20px 0;
    }
  }

  &__pagination-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__pagination-item {
    display: inline-block;
    margin: 3.5px;
  }

  &__pagination-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #F0F3F5;
    border-radius: 10px;
    color: $g;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    background-color: #fafafa;
    padding: 13px;
    transition: all 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        background-color: $g;
        color: #fff;
        border-color: $g;
      }
    }

    &--current {
      border: 2px solid $g;
      color: #F0F3F5;
      background-color: $g;
      cursor: default;

      @media (any-hover: hover) {
        &:hover {
          background-color: $g;
          color: #F0F3F5;
          border-color: $g;
        }
      }

    }
  }

  &__pagination-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #F0F3F5;
    border-radius: 10px;
    background-color: #fafafa;
    text-decoration: none;
    padding: 13px;
    transition: all 0.3s ease;

    img {
      width: 14px;
      display: block;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $g;
        border-color: $g;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  &__pagination-dots {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: $g;
    font-weight: 500;
    padding: 13px;
  }
}
