@use "../config/color" as *;
@use "../config/mixin" as *;

.news {
  padding: 140px 0 0;

  @include mq("tb") {
    padding: 140px 20px 0;
  }

  @include mq("sp") {
    padding: 65px 14px 0;
  }

  .news-wapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 51vw;

    @include mq("tb") {
      margin: 0;
      align-content: flex-start;
    }

    // .bread {

    //   /* パンくずリスト */
    //   ul {
    //     display: flex;
    //     flex-wrap: wrap;

    //     li {
    //       display: inline;
    //       margin-right: 26px;
    //       position: relative;
    //       font-size: 14px;
    //       line-height: 24px;
    //       font-weight: 400;

    //       a {
    //         font-size: 14px;
    //         line-height: 24px;
    //         font-weight: 400;

    //         &::after {
    //           content: "";
    //           width: 8px;
    //           height: 8px;
    //           border-top: solid 1px $g;
    //           border-right: solid 1px $g;
    //           transform: rotate(45deg);
    //           position: absolute;
    //           right: -15px;
    //           top: 8px;
    //         }
    //       }
    //     }
    //   }
    // }

    .news-title {
      margin: 61px 0 37px;
      position: relative;

      @include mq("sp") {
        margin: 20px 0 7px;
      }

      .text40 {
        text-align: left;
        position: relative;

        @include mq("sp") {
          font-size: 30px;
        }
      }

      .news-line {
        top: 38px;
        position: absolute;
        z-index: -1;
      }

      img {
        width: 260px;

        @include mq("sp") {
          width: 195px;
        }
      }
    }

  }

  [data-name="detail"] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 6vw;
  }

  .bread {

    /* パンくずリスト */
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        display: inline;
        margin-right: 26px;
        position: relative;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;

        a {
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;

          &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-top: solid 1px $g;
            border-right: solid 1px $g;
            transform: rotate(45deg);
            position: absolute;
            right: -15px;
            top: 8px;
          }
        }
      }
    }
  }

  .archive-tab {
    display: flex;
    justify-content: center;

    @include mq("sp") {
      overflow: scroll;
    }

    a div {
      text-align: center;

      @include mq("tb") {
        font-size: 14px;
      }

      @include mq("sp") {
        font-size: 16px;
      }
    }

    .p-archive__tab-item {
      text-align: center;
      color: $y;
      background-color: #fff;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50px;
      min-width: 126px;
      height: 44px;
      margin: 0 8px 50px;
      padding: 14px;

      @include mq("tb") {
        font-size: 14px;
        margin: 0 5px 23px;
      }

      @include mq("sp") {
        &:first-child {
          margin-left: 200px;
        }
      }
    }

    .p-archive__tab-item--selected {
      color: #fff;
      background-color: $g;
      min-width: 126px;
    }

  }

  .panel-area {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 10px #00000029;
    border-radius: 100px;
    margin: 0 auto;
    width: 960px;
    padding: 30px 0 81px;

    @include mq("tb") {
      width: 100%;
    }

    @include mq("sp") {
      width: 100%;
      border-radius: 50px;
      padding: 20px 20px 28px;
    }

    .post__item {
      list-style: none;

      .post__item-inner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin: 50px 0 50px 50px;
        transition-duration: .4s;

        &:hover {
          transform: scale(1.1);
        }

        @include mq("tb") {
          margin: 50px 0 50px 20px;
        }

        @include mq("sp") {
          margin: 29px auto;
          display: block;
          position: relative;
          text-align: center;
        }

        .post__text {
          margin: 0 37px;

          @include mq("sp") {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 80vw;
            max-width: 305px;
            border-radius: 0 0 20px 20px;
            background-color: #fff;
            background: rgb(255 255 255 / 60%);
            margin: 0 auto;
            padding: 5px 10px;
          }

          .post__time {
            text-align: left;

            time {
              font: normal normal medium Archivo Narrow;
              font-size: 14px;
              line-height: 1.3;
              letter-spacing: 0.05em;

              @include mq("sp") {
                font-size: 12px;
                line-height: 1rem;
                letter-spacing: 0.6px;
              }
            }



            .category {
              background-color: $g;
              padding: 3px 20px;
              margin-left: 24px;

              @include mq("sp") {
                position: absolute;
                right: -14px;
                top: -144px;
                padding: 2px 9px;
              }
            }
          }

          .post__title-wrap {
            .post__title {
              text-align: left;
              font-size: 20px;
              line-height: 1.7;
              margin: 5px 0;

              @include mq("sp") {
                margin: 0;
                font-size: 14px;
                line-height: 1.3rem;
              }
            }

            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;

              @include mq("sp") {
                display: none;
              }
            }
          }
        }

        img {
          display: block;
          width: 230px;
          height: 150px;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 20px;
          flex-shrink: 0;

          @include mq("sp") {
            width: 80vw;
            max-width: 305px;
            height: 199px;
            margin: 0 auto;
          }
        }

      }
    }

    .pagination {
      position: relative;
      text-align: center;

      .page-numbers.current {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 2px solid $g;
        border-radius: 10px;
        color: #F0F3F5;
        background-color: $g;
        padding: 13px;
        text-align: center;
      }

      .page-numbers {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 2px solid #F0F3F5;
        border-radius: 10px;
        color: $g;
        background-color: #fafafa;
        padding: 13px;
        margin: 3.5px;
        text-align: center;
      }

      .page-numbers.first {
        img {
          width: 14px;
        }
      }

      .page-numbers.last {
        img {
          width: 14px;
        }
      }
    }
  }

  .post-title {
    font-size: 40px;
    margin: 71px 0 0;
    letter-spacing: 0.1em;

    @include mq("tb") {
      margin: 39.58px 0 17.42px;
    }

    @include mq("sp") {
      font-size: 25px;
    }
  }

  .post-data {
    margin: 27px 0 52px;

    @include mq("tb") {
      margin: 17.42px 0 42px;
    }

    time {
      font-family: normal normal normal Archivo Narrow;
      color: #707070;
      font-weight: 400;
      line-height: 1.1;
      letter-spacing: 0.0008em;
    }

    .category {
      background-color: $g;
      margin: 5px;
      padding: 4px 18px;

      @include mq("sp") {
        margin: 18px;
      }
    }
  }

  .post-area {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 10px #00000029;
    border-radius: 100px;
    margin: 0 auto;
    width: 960px;
    padding: 50px;

    @include mq("tb") {
      padding: 30px;
      width: 100%;
    }

    @include mq("sp") {
      border-radius: 50px;
      padding: 20px;
      min-width: 345px;
    }

    .post__item-inner {
      text-align: center;

      img {
        border-radius: 20px;
        box-shadow: 0px 3px 6px #00000029;
        width: 40vw;
        min-width: 613px;
        height: 391px;

        @include mq("tb") {
          width: 60vw;
          min-width: 390px;
          height: 300px;
        }

        @include mq("sp") {
          width: 70vw;
          min-width: 305.2px;
          height: 199px;
        }
      }
    }

    .contents-box {
      border: 2px solid $g;
      border-radius: 20px;
      width: 40vw;
      min-width: 603px;
      margin: 23px auto;
      padding: 0 10px;

      @include mq("tb") {
        width: 60vw;
        min-width: 390px;
      }

      @include mq("sp") {
        width: 70vw;
        min-width: 305.2px;
        margin: 20px auto;
      }

      .text20 {
        margin: 26px 19px 12px;
      }

      .contents-list {
        list-style-type: decimal;
        margin: 0 3vw 30px;

        .heading {
          margin: 6px 15px;

          a {
            line-height: 1.7;
            letter-spacing: 0.04em;
          }
        }

        .heading::marker {
          color: $y;
        }

        ul {
          list-style: disc;

          .lead {
            margin: 4px 10px;
          }

          .lead::marker {
            color: $g;
          }
        }

        li {
          margin: 6px 15px;
        }
      }
    }

    #h2-line-title1 {
      text-decoration: underline $g 2px;
      font-size: 24px;
      margin: 79px auto 16px;
      width: 40vw;
      min-width: 600px;

      @include mq("tb") {
        width: 60vw;
        min-width: 390px;
      }

      @include mq("sp") {
        font-size: 20px;
        margin: 43px auto 21px;
        width: 70vw;
        min-width: 305.2px;
      }
    }

    .text {
      margin: 16px auto;
      width: 40vw;
      min-width: 600px;
      line-height: 1.7;

      @include mq("tb") {
        width: 60vw;
        min-width: 390px;
      }

      @include mq("sp") {
        margin: 21px auto;
        width: 70vw;
        min-width: 305.2px;
      }
    }

    #h3-title1 {
      font-size: 20px;
      line-height: 1.7;
      position: relative;
      margin: 28px auto 7px;
      padding-left: 17px;
      width: 40vw;
      min-width: 595px;

      @include mq("tb") {
        font-size: 18px;
        width: 60vw;
        min-width: 424px;
      }

      @include mq ("sp") {
        font-size: 18px;
        width: 70vw;
        min-width: 300px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: -3px;
        background-color: $g;
        width: 10px;
        height: 20px;

        @include mq("tb") {
          top: 1px;
          left: 0px;
        }

        @include mq("sp") {
          height: 37px;
        }
      }
    }

    .h3-list {
      list-style: disc;
      font-family: normal normal medium YuGothic;
      display: block;
      width: 40vw;
      min-width: 599px;
      margin: 7px auto 28px;
      padding-left: 15px;

      @include mq("tb") {
        width: 60vw;
        min-width: 390px;
      }

      @include mq("sp") {
        width: 70vw;
        min-width: 305.2px;
      }

      .list {
        line-height: 1.7;
      }
    }

    #h2-line-title2 {
      font-size: 24px;
      text-decoration: underline $g 2px;
      width: 40vw;
      min-width: 600px;
      margin: 71px auto 17px;

      @include mq("tb") {
        width: 60vw;
        min-width: 390px;
      }

      @include mq("sp") {
        margin: 40px auto 20px;
        width: 70vw;
        min-width: 305.2px;
      }
    }

    .img-box {
      display: flex;
      width: 40vw;
      min-width: 602px;
      margin: 0 auto;

      @include mq("tb") {
        flex-direction: column;
        width: 60vw;
        min-width: 390px;
      }

      @include mq("sp") {
        width: 70vw;
        min-width: 305.2px;
      }

      .img-text {
        font: normal normal medium YuGothic;
        display: inline-block;
        width: 22vw;
        margin: 0 1vw 0 0;

        @include mq("tb") {
          width: 60vw;
          min-width: 390px;
          margin-bottom: 20px;
        }

        @include mq("sp") {
          width: 70vw;
          min-width: 305.2px;
        }
      }

      img {
        width: 290px;
        height: 286px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 20px;

        @include mq("tb") {
          width: 60vw;
          min-width: 390px;
        }

        @include mq("sp") {
          width: 70vw;
          min-width: 305px;
        }
      }
    }

    #h3-title2 {
      font-size: 20px;
      position: relative;
      margin: 27px auto -4px;
      padding-left: 15px;
      width: 40vw;
      min-width: 591px;

      @include mq("tb") {
        font-size: 18px;
        width: 60vw;
        min-width: 424px;
      }

      @include mq ("sp") {
        font-size: 18px;
        width: 70vw;
        min-width: 300px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: -14px;
        background-color: $g;
        width: 8px;
        height: 20px;

        @include mq("tb") {
          top: 1px;
          left: 0px;
        }

        @include mq("sp") {
          height: 37px;
        }
      }
    }

    .info-menu {
      display: flex;
      justify-content: center;

      .info-btn {
        font-size: 20px;
        color: $g;
        border: 2px solid;
        border-radius: 50px;
        width: 301px;
        height: 70px;
        padding: 21px;
        margin: 58px 0 0;
        text-align: center;
        display: inline-block;
      }
    }
  }
}